{% extends 'base.html' %}

{% block content %}


  <div class="container">
     <div class="row">
        <div class="col-md-4">  
           <h3>TAMBAH DATA</h3>
          {% if pesan %}
            <div class="alert alert-success">{{ pesan }}</div>          
          {% endif %}

          <form action="/tambah-kelompok/" method="post">
             {% csrf_token %}

             {{ form.as_p }}
             
             <button class="btn btn-primary">SIMPAN</button>
             <a href="/kelompok" class="btn btn-danger">KEMBALI</a>
          </form>
        </div>
     </div>
  </div>

{% endblock %}